{% extends "layout.html" %}

{% block content %}
<h1 class="trabajosrealizados">Afinación Pianos</h1>
<p class="textoconsangria textocomun">Si usted tiene un piano acústico y desearía escucharlo afinado no dude en contactarme para que se lo afine!!!</p>
<p class="textoconsangria textocomun">También hago una limpieza interior.</p>
<p class="textoconsangria textocomun">Atención: Por el momento no estoy realizando cambio de cuerdas, calibración del mecanismo y restauración del mobiliario en caso que este dañado.</p>

<img class="imagenesvarias" src="{{ url_for('static', filename='img/AfinaciónPianos.jpg') }}" alt="afinación de pianos 1"> 

<p class="textoconsangria textocomun">Si le surge alguna inquietud y quiere su presupuesto personalizado consulte sin compromiso y sin cargo.</p>
<p class="textocomun">Consúlteme al mail: juliantheler@gmail.com</p>
<a class="whatsappext" href="https://en.wh.ms/543496499676" target="_blank"><i class="fas fa-angle-double-right"></i>O consúlteme por Wsp</a>

{% endblock %}