{% extends "layout.html" %}

{% block content %}
<h1 class="trabajosrealizados">Cuarteto De La Cabeza</h1>
<img class="portadacuarteto" src="{{ url_for('static', filename='img/CuartetoPortada.jpg') }}"
    alt="Portada del Cuarteto">
<p class="textocomun">Integrantes (de Izquierda a derecha de la imagen):</p>
<ul class="trabajosrealizadoslista">
    <li>Morandín Eduardo: Cello y Guitarra</li>
    <li>Marco Bertossi: Violín y Guitarra</li>
    <li>Julián Theler (yo): Viola, Piano, Guitarra y Ukelele</li>
    <li>Luís Nadalutti: Violín</li>
</ul>
<p class="textocomun textoconsangria">Cuarteto de cuerdas tradicional instrumental que aborda todo tipo de géneros
    musicales; desde música clásica académica, tangos, música popular, rock, pop, música litúrgica, folklore, valses,
    música infantil. Música ideal para acompañar casamientos, cumpleaños (de 15 incluídos), muestras de arte, fiestas,
    ceremonias y cualquier evento que haya.</p>
<p class="textocomun textoconsangria">Comenzamos el 1 de Julio del 2017 y hemos tenido conciertos en diferentes eventos
    (para consultar en cuales <a class="aalternativoparatextocomun" href="https://www.dropbox.com/s/2fxuq6jt59685fb/Historial%20de%20Fechas%20en%20Vivo.xlsx?dl=0" target="_blank">Rediríjase aquí</a>, mi historial
    actualizado en tiempo real de actuaciones)</p>
<a class="aalternativoparatextocomun" href="https://www.dropbox.com/s/j9rffje435dfvzv/Repertorio%20-%20temas%20ensayados.docx?dl=0" target="_blank"><i class="fas fa-angle-double-right"></i>Consultá el Repertorio Trabajado
    Actualizado Aquí</a>
<p class="textocomun">Consultá Nuestras Redes Sociales:</p>
<section class="socialgrupos">
    <div class="linksgrupos">
        <ul>
            <li>
                <a href="https://www.facebook.com/cuartetodelacabeza" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="https://www.instagram.com/cuartetodelacabeza/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</section>
<p class="textocomun">Para contactarnos:</p>
<p class="textocomun">Mail: juliantheler@gmail.com</p>
<a class="whatsappext" href="https://en.wh.ms/543496499676" target="_blank"><i class="fas fa-angle-double-right"></i>O por Wsp</a>



{% endblock %}