{% extends "layout.html" %}

{% block content %}
<h1 class="trabajosrealizados">Sesionista</h1>
<div class="textovariado1">
    <p class="textocomun">->¿Estás grabando un tema musical o disco como banda o como solista y te falta algún músico para grabar un instrumento?</p>
    <p class="textocomun">->¿Tenes un concierto y algún músico de tu formación se te bajó o te gustaría que haya algún instrumento más?</p>
    <p class="textocomun">->¿Sos miembro o el director de una orquesta o banda y te gustaría que sea el Director Reemplazante o Director Invitado?</p>
    <p class="textocomun">¡¡Felicitaciones, has llegado al lugar que tenes que estar!!</p>
    <p>A continuación los instrumentos que ofrezco:</p>
</div>
<ul class="trabajosrealizadoslista">
    <li>Director Orquestal y De Bandas</li>
    <li>Bajo</li>
    <li>Piano Acústico<a href="https://www.youtube.com/watch?v=_OamzlT9l90" target="_blank"><i class="fas fa-angle-double-right"></i> Escuchá cómo queda el sonido!</a></li>
    <li>Teclados</li>
    <li>Guitarras Eléctricas, Electroacústicas y Criollas</li>
    <li>Batería</li>
    <li>Viola</li>
    <li>Voz</li>
    <li>Percusión (Bongoes, Bombito chico, Triángulo, Tambor de Trueno, Kalimba en Re, Shakers, Maraca, Cascabel, Golpeador)</li>
    <li>Flauta Dulce</li>
    <li>Armónica en Re</li>
</ul>
<p class="textocomun">¡¡¡Pueden Ser para Trabajos Virtuales para Todo el Mundo o Presenciales en Esperanza, Santa Fe y alrededores.!!!</p>
<p class="textoconsangria textocomun">En el caso que fuere recibo las partituras, audios, archivos MIDI, información de cómo usted desearía que suene, etc. para aprenderme las partes (en el caso de grabar sería necesario que usted me diga el/los tempo/s y el/los compases y toda la información que desee que tenga en cuenta para grabar).</p>
<p class="textoconsangria textocomun">Para las grabaciones puedo entregar hasta 8 pistas!! En el caso de una batería grabada puedo entregar hasta 1 canal estéreo de Overhead (2 canales mono serían), 1 canal mono para el Bombo, 1 canal mono para el Redo, 3 canales mono para cada uno de los tons y el ton de piso (Chancha) y 1 canal mono para el Room. En el caso de un Piano Acústico grabado puedo entregar 1 canal estéreo del sonido directo y un canal estéreo del Room. Para el resto es como usted lo desee.</p>
<p class="textoconsangria textocomun">A las grabaciones se las puedo entregar en dos formatos, uno crudo sin editar y otro crudo editado. Con editado me refiero de ubicar a la mayor cantidad de notas posibles en sincronía con la grilla temporal y a las notas lo más afinadas posibles (Sin perder la naturalidad y la musicalidad) y con la correción de fase si es que fuera necesario en caso de haber microfoneado con más de dos micrófonos a un instrumento. Y con crudo me refiero al sonido limpio sin ningún plug-in ni vst de procesamiento del sonido para que pueda modificarlo usted a la hora de mezclar. Igual si lo desea le puedo sugerir parámetros de procesamiento de las grabaciones que le entrego para el momento en el que le realice la mezcla.</p>
<p class="textoconsangria textocomun">Si le surge alguna inquietud que no está contemplada acá no dude en consultármela.</p>
<p class="textocomun">Consúlteme al mail: juliantheler@gmail.com</p>
<a class="whatsappext" href="https://en.wh.ms/543496499676" target="_blank"><i class="fas fa-angle-double-right"></i>O consúlteme por Wsp</a>






{% endblock %}