{% extends "layout.html" %}

{% block content %}
<h1 class="trabajosrealizados">Sobre Mi</h1>

<h3 class="subtitulo">Breve Historia de mi Recorrido</h3>
<p class="textocomun">Nací el 14/06/1996 en Esperanza, Santa Fe, Argentina. Ejecuto los siguientes
    instrumentos:</p>
<ul class="trabajosrealizadoslista">
    <li>Director Orquestal y De Bandas</li>
    <li>Bajo</li>
    <li>Piano Acústico
    <li>Teclados</li>
    <li>Guitarras Eléctricas, Electroacústicas y Criollas</li>
    <li>Batería</li>
    <li>Viola</li>
    <li>Voz</li>
    <li>Percusión (Bongoes, Bombito chico, Triángulo, Tambor de Trueno, Kalimba en Re, Shakers, Maraca, Cascabel,
        Golpeador)
    </li>
    <li>Flauta Dulce</li>
    <li>Armónica</li>
</ul>
<p class="textocomun textoconsangria">Realicé talleres de música de niño en el Liceo Municipal José Pedroni (piano y flauta dulce) y en la adolescencia hice estudios particulares de Guitarra con Ranallo Daniela y Meguez Gastón y de piano con Rittiner Julita. En el 2015 ingresé al ISM–UNL. Estudié dirección con los profesores Gauna Soledad, Marina Manuel y Rodríguez Juan, estudio viola con el profesor Mateos Gabriel, estudio Sonido con los profesores Dulcich Matías y Fabián Moliengo y estudié Piano con los profesores Gabriel Sanchez de la Vega y Aparicio Alfaro.</p>
<p class="textocomun textoconsangria">Tengo obras clásicas y temas populares de mi autoría tanto total como parcial registrados en la DNDA y SADAIC. Actualmente me encuentro componiendo, produciendo, grabando, mezclando y masterizando obras propias solo y con otros compositores/autores en mis proyectos. Poseo muchos conciertos en vivo realizados tanto solo como con diferentes agrupaciones musicales. Realizo múltiples trabajos. El 16/12/2018 estrené mi primer obra de tradición escrita, “Pequeña Obra Orquestal Nº1” dirigiendo la Orquesta Filarmónica Aarón Castellanos (oportunidad otorgada por el director de esa orquesta, Jorge Luis Rizzo).</p>
<p class="textocomun textoconsangria"></p><a class="aalternativoparatextocomun" href="{{url_for('serviciossonorosmusicales') }}"><i class="fas fa-angle-double-right"></i>Puedo realizar diferentes trabajos que los podés conocer acá</a></p>
<p class="textocomun textoconsangria"></p><a class="aalternativoparatextocomun" href="https://www.dropbox.com/s/2fxuq6jt59685fb/Historial%20de%20Fechas%20en%20Vivo.xlsx?dl=0" target="_blank"><i class="fas fa-angle-double-right"></i>Conocé todo mi historial actualizado de Conciertos aquí!!</a></p>
<p class="textocomun textoconsangria"></p><a class="aalternativoparatextocomun" href="https://www.dropbox.com/s/o5ggku0cpga6uwd/Historial%20de%20Proyectos%20Musicales.docx?dl=0" target="_blank"><i class="fas fa-angle-double-right"></i>Conocé todo mi historial actualizado de Grupos Y Proyectos Musicales aquí!!</a></p>
<p class="textocomun textoconsangria"></p><a class="aalternativoparatextocomun" href="https://www.dropbox.com/s/bih625y74gqv6gx/Informaci%C3%B3n%20Varia.docx?dl=0" target="_blank"><i class="fas fa-angle-double-right"></i>Conocé información varia mia aquí!!</a></p>

<hr>
<h3 class="subtitulo">Formación Académica:</h3>
<ul class="trabajosrealizadoslista">
    <li>Título Universitario (UNL): Licenciado en Música con Orientación en Dirección Orquestal</li>
    <li>Título Universitario Incompleto (UNL): Licenciado en Sonorización y Grabación</li>
    <li>Título Universitario Incompleto (UNL): Licenciado en Música con Orientación en Viola</li>
    <li>Título Universitario Incompleto (UNL): Profesorado en Música con Orientación en Dirección Orquestal</li>
    <li>Título Universitario Incompleto (UNL): Profesorado en Música</li>
    <li>Título Secundario (EETP Nº455 - Esperanza, Santa Fe): Técnico en Equipos en Instalaciones Electromecánicas</li>
    <li>Formación Primaria: Colegio San José Nº1013</li>
</ul>
<hr>

<p class="textocomun textoconsangria">Mail: juliantheler@gmail.com</p>

{% endblock %}