{% extends "layout.html" %}

{% block content %}
<h1 class="trabajosrealizados">Sonido En Estudio</h1>
<p class="textocomun">Hago Grabación, Edición fina (afinación y sincronización a la grilla y/o entre los instrumentos), Mezcla y Mastering.</p>
<p class="textocomun">Puedo grabar multicanal hasta 8 canales a la vez!!</p>
<p class="textocomun">Presupuesto de acuerdo a la cantidad de pistas, minutos del tema y cantidad de trabajos que haya que realizar.</p>
<p class="textocomun"></p><a class="aalternativoparatextocomun" href="https://www.youtube.com/watch?v=4v7pkfCkJZ4" target="_blank"><i class="fas fa-angle-double-right"></i>Escucha una de mis últimas grabaciones, ediciones, mezcla y mastering Acá!</a></li>

    



{% endblock %}