{% extends "layout.html" %}

{% block content %}
<h1 class="trabajosrealizados">Sonido En Vivo</h1>
<p class="textocomun">¿Tiene usted un evento (casamiento, cumpleaños, encuentros o lo que se le imagine) de hasta 150-200 personas?</p>
<p class="textocomun">¿Tiene usted un grupo pequeño de 3 o 4 músicos y necesita sonido completo para algun concierto/ensayo?</p>
<p class="textocomun">¿Tiene usted un grupo mediano y tiene un concierto en un lugar donde considere que el volúmen natural de las percusiones y los amplificadores basten y necesita microfonear voces y demás instrumentos en una consola?</p>
<p class="textocomun">¡¡Felicitaciones, has llegado al lugar que tenes que estar!!</p>

<p class="textocomun textoconsangria">Sonido con Subwoofer ideal para agrupaciones pequeñas y medianas y/o eventos como lo especifiado previamente.</p>

<p class="textocomun textoconsangria">(Sección En Desarrollo)</p>

<p class="textoconsangria textocomun">Si le surge alguna inquietud que no está contemplada acá no dude en consultármela.</p>
<p class="textocomun">Consúlteme al mail: juliantheler@gmail.com</p>
<a class="whatsappext" href="https://en.wh.ms/543496499676" target="_blank"><i class="fas fa-angle-double-right"></i>O consúlteme por Wsp</a>
{% endblock %}