{% extends "layout.html" %}

{% block content %}
<h1 class="trabajosrealizados">Trabajos Varios</h1>
<p class="textocomun">Como Trabajos Varios ofrezco los siguientes:</p>
<ul class="trabajosrealizadoslista">
    <li>Composiciones.</li>
    <li>Arreglos.</li>
    <li>Adaptaciones.</li>
    <li>Instrumentaciones.</li>
    <li>Orquestaciones.</li>
    <li>Reducciones.</li>
    <li>Transcripciones para SADAIC.</li>
    <li>Transcripciones de lo que necesites para registrar una obra musical en tu país.</li>
    <li>Transcripciones del Master (de todos los instrumentos y voces que haya).</li>
    <li>Grabación de Maquetas</li>
    <li>Grabación y producción de Beats</li>
    <li>Producir temas musicales</li>
    <li>Creación de Pistas de Karaoke</li>
    <li>Publicidades para Radio</li>
    <li>Diseño Sonoro de Producciones Audiovisuales: Si usted está creando un cortometraje, una serie, una película o cualquier cosa y necesita que le hagan el diseño sonoro no dude en contactarme <a href="https://www.youtube.com/shorts/CrdTxcDFwLI" target="_blank"><i class="fas fa-angle-double-right"></i>Un ejemplo hecho para una materia de una de mis carreras</a></li></li> 
</ul>

<p class="textoconsangria textocomun">Si le surge alguna inquietud y quiere su presupuesto personalizado consulte sin compromiso y sin cargo.</p>
<p class="textocomun">Consúlteme al mail: juliantheler@gmail.com</p>
<a class="whatsappext" href="https://en.wh.ms/543496499676" target="_blank"><i class="fas fa-angle-double-right"></i>O consúlteme por Wsp</a>

{% endblock %}