{% extends "layout.html" %}

{% block content %}
<h1 class="trabajosrealizados">Trabajos Realizados</h1>
<ul class="trabajosrealizadoslista">
    <li>2023: Composición, Arreglo, Interpretación, Grabación, Edición, Mezcla y Mastering: Para Academia "Speak Language Center <a href="https://www.youtube.com/watch?v=4v7pkfCkJZ4" target="_blank"><i class="fas fa-angle-double-right"></i>Escuchalo Acá!</a></li>
    
    <li>2023: Transcripción de partituras de Emiliano Billoud y Emiliano Billoud y Leonardo Butarelli</li>
    <li>2022 y 2023: Creación de Pistas de Karaoke a varias personas</li>
    <li>2022: Afinación de un Piano</li>
    <li>2022: Sonido en Vivo para cumpleaños de 50 y 60</li>
    <li>2021 y 2022: Sonido en Vivo para Emiliano Billoud y Emiliano Billoud y Los Juglares en diferentes eventos</li>
    <li>2021 y 2022: Sonido en Vivo para la Asociación Italiana "Unión y Fomento" de Esperanza en 2 encuentros corales y 1 acto institucional</li>
    <li>2021: Sonido en vivo para Carina Deu y el Ave Fénix</li>
    <li>2020: Transcripción de un arreglo orquestal para Lucas Licinio</li>
    <li>2018 y 2019: Sonido en Vivo para Hector Daniel Missio en diferentes Bingos</li>
    <li>2017: Grabación, Mezcla y Mastering de un Double de Canicanavarios</li>
    <li>2016: Sonido en Vivo para Casamiento Carolina Fanelli y Joel Herrera</li>
</ul>
    
<p class="aclaracionizq">Estos son trabajos hechos a Terceros!</p>

{% endblock %}